h1.login {
    font-family:arial, sans-serif;
    font-size: 25pt;
    text-align: center; 
    margin: 30px;
}
div.login {
    align-self: center;
    border: 3px solid black; 
    width: 350px;
    text-align: left;
    padding: 0px 10px 10px 20px;
    margin: 30px 50%;
    transform: translate(-50%);
}
.ref_botton {
    text-decoration: underline;
}
.botton1{
    background-color: rgb(134, 221, 100);
    border:rgb(134, 221, 100);
    width: 80px;
    height: 30px;
    text-align: bottom;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 10pt;
}
.botton2{
    background-color: red;
    border:red;
    width: 80px;
    height: 30px;
    color: white;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 10pt;
}




/* index */
body {
    max-width: 1020px;
    margin : 0 auto;
}

header {
    display: flex;
    position: relative;
    width:1020px;
    justify-content : flex-start;
    align-items : center;

}
header p {
    font-size: 30px;
    position: relative;
    left : 1020px;
    margin-top : 20px; margin-left:10px;
    animation : linear forwards; 
    animation-name: movingimage;
    animation-duration : 2s;
}
@keyframes movingimage {
    0% {left:1015px;}
    100% {left: 0px;}
}

span.mainpage-text {
    border-top : solid 1px red; 
    border-bottom: solid 1px red;
}


/* main */
    
#searchBar {
    width:800px;
    height:25px;
}
#searchButton {
    height:30px;
    margin-left:20px;
}
#movies {
    font-size:30px;
    margin-bottom:-5px;
}
div.movies-box {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
aside {
    width: 20%;
    background-color: rgba(233, 233, 233, 0.938);
    border: solid 1px gray;
    border-radius: 5px;
    padding-left:10px;
}
aside>p {
    margin-left:20px;
}
aside.sorting_board {
    font-size: 10px;
}

main {
    width:80%;
    display:flex;
    gap:1rem;
    flex-flow: row wrap;
    align-items: flex-start;
}

section.movie_layer {
    position:relative;
    margin:1rem;
    border:1px rgba(0, 0, 0, 0.199) solid;
}

section>img {
    width:280px;
    height:400px;
    z-index:1;
}

section>div.story_layer {
    box-sizing: border-box;
    padding: 5px;
    position:absolute;
    top:0;
    left:0;
    width:280px;
    height:400px;
    z-index:2;
    text-align:left;
    background: rgba(0, 0, 0, 0.664);
    color:white;
    white-space: pre-wrap;
}

.disabled {
    opacity:0;
}

section>p.title_layer {
    font-size:small;
    white-space: pre-wrap;
    text-align:center;
}
